<app-header></app-header>
<div id="detail-product" class="px-28">
    <div class="w-full flex mt-10  ">
        <div class="left w-[50%]">
            <img id="mainImg" class="mainImg mb-2 w-full" src="../assets/img/f1.jpg" alt="">
            <div class="small-img-group w-full flex justify-between ">
                <div class="small-img-col basis-[24%] cursor-pointer">
                    <img class="small-img" src="../assets/img/f1.jpg" alt="">
                </div>
                <div class="small-img-col basis-[24%] cursor-pointer">
                    <img class="small-img" src="../assets/img/f2.jpg" alt="">
                </div>
                <div class="small-img-col basis-[24%] cursor-pointer">
                    <img class="small-img" src="../assets/img/f3.jpg" alt="">
                </div>
                <div class="small-img-col basis-[24%] cursor-pointer">
                    <img class="small-img" src="../assets/img/f4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="right w-[50%] ml-20">
            <span class="text-sm font-bold">Home</span> / <span class="text-sm font-bold">T-Shirt</span>
            <h4 class="text-2xl font-bold my-6">Men's Fashion T Shirt</h4>
            <h2 class="text-3xl font-bold">$139.00</h2>
            <select name="size" id="" class="w-40 h-10 border border-separate my-2 rounded-md">
                <option value="0">Select Size</option>
                <option value="1">XL</option>
                <option value="2">XXL</option>
                <option value="3">Small</option>
                <option value="4">Large</option>
            </select>
            <br>
            <input type="number" value="1" class="w-10 h-10 border border-separate mr-5 p-1 rounded-md">
            <button class="w-[200px] h-10 bg-green-600 text-white rounded-md">Add to cart</button>
            <h4 class="text-2xl font-bold my-6">Product details</h4>
            <span>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita dolores voluptates ad unde modi. Enim
                commodi vel voluptatibus quo officia magnam eaque earum explicabo ipsa exercitationem ipsum architecto,
                quidem veniam.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita dolores voluptates ad unde modi. Enim
                commodi vel voluptatibus quo officia magnam eaque earum explicabo ipsa exercitationem ipsum architecto,
                quidem veniam.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita dolores voluptates ad unde modi. Enim
                commodi vel voluptatibus quo officia magnam eaque earum explicabo ipsa exercitationem ipsum architecto,
                quidem veniam.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita dolores voluptates ad unde modi. Enim
                commodi vel voluptatibus quo officia magnam eaque earum explicabo ipsa exercitationem ipsum architecto,
                quidem veniam.

            </span>
        </div>
    </div>
    <div class="featured-product w-full mb-10">
        <div class="text-center mt-20 mb-14">
            <h1 class="text-5xl font-bold">Featured Product</h1>
            <span class="text-lg text-gray-400">Summer Collection New Morden Design</span>
        </div>
        <div class="flex justify-between">
            <div class="w-[24%] border border-separate p-3 rounded-2xl">
                <img class="rounded-2xl" src="../assets/img/f4.jpg" alt="">
                <div class="desc mt-4">
                    <span class="text-sm font-semibold text-gray-400">Adidas</span>
                    <h5 class="text-lg font-bold">Men's Fashion T Shirt</h5>
                    <div class="w-full flex justify-between">
                        <div>
                            <div class="crop text-yellow-400" [style.width.px]="5*90/5" title="rating">
                                <div style="width: 90px">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <h5 class="text-lg font-bold text-green-600">$78</h5>
                        </div>

                        <div class="w-10 h-10 rounded-full bg-green-200 text-green-500 flex items-center">
                            <i class="fa-solid fa-cart-shopping m-auto"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="w-[24%] border border-separate p-3 rounded-2xl">
                <img class="rounded-2xl" src="../assets/img/f4.jpg" alt="">
                <div class="desc mt-4">
                    <span class="text-sm font-semibold text-gray-400">Adidas</span>
                    <h5 class="text-lg font-bold">Men's Fashion T Shirt</h5>
                    <div class="w-full flex justify-between">
                        <div>
                            <div class="crop text-yellow-400" [style.width.px]="5*90/5" title="rating">
                                <div style="width: 90px">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <h5 class="text-lg font-bold text-green-600">$78</h5>
                        </div>

                        <div class="w-10 h-10 rounded-full bg-green-200 text-green-500 flex items-center">
                            <i class="fa-solid fa-cart-shopping m-auto"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="w-[24%] border border-separate p-3 rounded-2xl">
                <img class="rounded-2xl" src="../assets/img/f4.jpg" alt="">
                <div class="desc mt-4">
                    <span class="text-sm font-semibold text-gray-400">Adidas</span>
                    <h5 class="text-lg font-bold">Men's Fashion T Shirt</h5>
                    <div class="w-full flex justify-between">
                        <div>
                            <div class="crop text-yellow-400" [style.width.px]="5*90/5" title="rating">
                                <div style="width: 90px">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <h5 class="text-lg font-bold text-green-600">$78</h5>
                        </div>

                        <div class="w-10 h-10 rounded-full bg-green-200 text-green-500 flex items-center">
                            <i class="fa-solid fa-cart-shopping m-auto"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="w-[24%] border border-separate p-3 rounded-2xl">
                <img class="rounded-2xl" src="../assets/img/f4.jpg" alt="">
                <div class="desc mt-4">
                    <span class="text-sm font-semibold text-gray-400">Adidas</span>
                    <h5 class="text-lg font-bold">Men's Fashion T Shirt</h5>
                    <div class="w-full flex justify-between">
                        <div>
                            <div class="crop text-yellow-400" [style.width.px]="5*90/5" title="rating">
                                <div style="width: 90px">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <h5 class="text-lg font-bold text-green-600">$78</h5>
                        </div>

                        <div class="w-10 h-10 rounded-full bg-green-200 text-green-500 flex items-center">
                            <i class="fa-solid fa-cart-shopping m-auto"></i>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>